#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    border-bottom: cadetblue;
    border-style: dotted;
    border-top: white;
    border-right: white;
    border-left: white;
}
#header img {
    height: 70px;
}
.profile img,
.otherProfile img {
    height: 200px;
}

.friends {
    height: 90px;
}
.frendz {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.chat-window img {
    height: 50px;
}
.chat-window {
    display: flex;
    flex-direction: column;
}
.picandname {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 12px;
    border-style: dotted;
    border-width: 2px;
    border-color: tomato;
    padding: 5px;
}
.names {
    margin-left: 10px;
    margin-right: 10px;
}
