#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    border-bottom: cadetblue;
    border-style: dotted;
    border-top: white;
    border-right: white;
    border-left: white;
}
#welcome-logo {
    height: 200px;
    margin-left: 60px;
}
#header img {
    height: 70px;
}
#welcome {
}
.header-links {
    align-self: flex-end;
    margin-bottom: 10px;
}
.profile img,
.otherProfile img {
    height: 200px;
}

.friends {
    height: 90px;
}
.frendz {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.chat-window img {
    height: 50px;
}
.chat-window {
    display: flex;
    flex-direction: column;
}
.picandname {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 12px;
    border-style: dotted;
    border-width: 2px;
    border-color: tomato;
    padding: 5px;
}
.names {
    margin-left: 10px;
    margin-right: 10px;
}
.footer-element {
    align-self: flex-end;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: blueviolet;
}
.dashboard p {
    margin: 5px;
}
.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.projects {
    background-color: khaki;
    padding: 10px;
    border-style: dotted;
    border-width: 2px;
    border-color: tomato;
    max-width: 250px;
    margin: 5px;
}
